/* Mobile device */
@media only screen and (min-width:320px) and (max-width:480px) {
    header.header {
        padding: 10px 0;
    }

    header.header .search {
        margin-bottom: 10px;
    }

    header.header .social {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    header.header .social li {
        float: none;
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .slider.custom_slider {
        margin-top: 0;
    }
    
    .slider.custom_slider button.slide-arrow.prev-arrow, .slider.custom_slider button.slide-arrow.next-arrow {
        width: 30px;
        height: 30px;
        font-size: 13px;
        top: 38%;
    }
    
    .category-container h1 {
        font-size: 21px;
    }
    
    .heading {
        font-size: 27px;
    }
    
    .box {
        width: 85%;
        margin-bottom: 10px;
    }
    
    .box p {
        font-size: 25px;
    }
    
    .sec_three.abt_vdo {
        min-height: 330px;
    }
    
    .path-container .path {
        margin-top: 0;
    }
    
    .feature-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .feature-box {
        margin-bottom: 15px;
    }
    .blog-list-image {
        height: auto;
    }
    
    .blog-list-bottom p {
        height: auto;
        padding: 13px;
    }
    
    .blog-list-bottom span {
        height: auto;
    }
    
    .paginmod span {
        margin-bottom: 5px;
    }
    
    footer.footer {
        text-align: center;
    }
    .more {
        font-size: 14px;
        padding: 10px;
    }
    footer.footer .footer_box .logo {
        float: none;
        display: inline-block;
    }
    
    footer.footer .footer_box p {
        padding: 0;
        text-align: center;
    }
    
    footer.footer .footer_box ul.social {
        text-align: center;
    }
    
    footer.footer .footer_box ul.social li {
        float: none;
        display: inline-block;
    }
    
    footer.footer .footer_box ul.footer_list {
        text-align: center;
    }
    
    footer.footer .footer_box ul.footer_list li, footer.footer .footer_box ul.footer_list li a {
        display: inline-block;
        float: none;
    }
    
    footer.footer .footer_box h4 {
        padding-left: 0;
    }
    
    footer.footer .footer_bottom p.fot_bot_menu {
        width: 100%;
        text-align: center;
    }
    
    footer.footer .footer_bottom p.fot_bot_menu a {
        float: none;
        display: inline-block;
        margin-right: 0;
        font-size: 15px;
    }
    
    footer.footer .footer_bottom p.copy {
        width: 100%;
        text-align: center;
    }
    footer.footer .footer_box ul.social li a {
        height: 34px;
        width: 34px;
    }
    #back-to-top {
        right: -10px;
    }
    .blog-details-image {
        height: auto;
    }
    
    .blog-details-bottom {
        text-align: center;
    }
    
    .category-tag {
        display: inline-block;
        float: none;
    }
    
    .blog-heading {
        font-size: 25px;
    }
    
    .details-list {
        padding-left: 0;
    }
    
    
    .blog-details-text p {
        text-align: center;
    }

    .feature-advice-bottom ul li .left {
        width: 35%;
    }
    
    .feature-advice-bottom ul li .right {
        width: 60%;
    }
    
    
}

@media only screen and (min-width:481px) and (max-width:767px) {
    a.logo {
        float: left;
        margin-top: 10px;
    }
    
    header.header .social {
        margin-top: 15px;
    }
    .box {
        width: 32%;
        margin-bottom: 10px;
    }
    
    .box p {
        font-size: 25px;
    }
    
    .box span {
        font-size: 12px;
    }
    
    .sec_three.abt_vdo {
        min-height: 250px;
    }
    
    .heading {
        font-size: 34px;
    }
    
    .feature-box {
        width: 48%;
        margin-bottom: 10px;
        margin-right: 10px;
    }

.blog-list-image img {
    width: 100%;
    height: auto;
}

.blog-list-bottom p {
    height: auto;
    width: 100%;
}

.blog-list-bottom span {
    height: auto;
}

.path-box .details {
    bottom: -87%;
}
#back-to-top {
    right: 10px;
}


.blog-heading {
    font-size: 30px;
}

.details-list {
    padding-left: 0;
}
.feature-advice-bottom ul li {
    width: 48%;
}
}


@media only screen and (min-width:768px) and (max-width:1023px) {
    a.logo {
        float: left;
        margin-top: 0;
        width: 32%;
    }
    
    header.header .social {
        margin-top: 5px;
        width: 32%;
    }
    header.header .search {
    width: 32%;
}

header.header {
    padding: 10px 0;
}

a.logo img {
    width: 76%;
}

header.header .social li {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
.box {
    width: 18%;
}

.box p {
    font-size: 20px;
}

.box span {
    height: 40px;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sec_three.abt_vdo {
    min-height: 300px;
}

.path-box .image img {
    width: 100%;
}

.path-box .details {
    bottom: -89%;
}

.feature-box {
    width: 47%;
    margin-bottom: 15px;
    margin-right: 15px;
}

.blog-list-image {
    height: auto;
}

.blog-list-image img {
    height: auto;
    width: 100%;
}

.blog-list-bottom p {
    width: 100%;
    height: auto;
}

.blog-list-bottom span {
    height: auto;
}

.blog-list-bottom {
    margin-top: -49px;
}
.footer_box {
    width: 48%;
    float: left;
}
.feature-advice-bottom ul li {
    width: 48%;
}
}

/* Laptops */

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .footer_box {
        width: 48%;
        float: left;
    }
    
    .category-container h1 {
        font-size: 18px;
    }
    
    .category-container .bottom ul li a {
        font-size: 14px;
    }
    
    .category-container .bottom ul li {
        margin-bottom: 0;
    }
    
    .category-container .bottom ul {
        height: 200px;
    }
    
    .box p {
        font-size: 23px;
    }
    
    .box span {
        font-size: 11px;
    }
    
    .sec_three.abt_vdo {
        min-height: 300px;
    }
    
    .path-box .details p {
        font-size: 16px;
    }
    
    .path-box:hover .details p {
        font-size: 15px;
    }
    
    .feature-box span {
        height: 170px;
    }
    
    .blog-list-image {
        height: 210px;
    }
    
    .blog-list-bottom p {
        padding: 13px;
    }
    
    .blog-list-bottom span {
        height: 94px;
    }
    footer.footer .footer_box ul.footer_list li a {
        font-size: 16px;
    }
    
    footer.footer .footer_box ul.social li a {
        height: 30px;
        width: 30px;
        line-height: 27px;
    }
    
    footer.footer .footer_box ul.social li a img {
        width: 25px;
    }
    
    footer.footer .footer_box ul.social li {
        margin-right: 4px;
    }
    #back-to-top {
        right: 10px;
    }
    .blog-details-image {
        height: auto;
    }
    
    .featured-career h1 {
        font-size: 16px;
    }
    
    .feature-advice-bottom ul li .left {
        width: 100%;
    }
    
    .feature-advice-bottom {
        padding: 10px;
    }
    
    .feature-advice-bottom ul li .right {
        width: 100%;
        margin-top: 15px;
        text-align: center;
        padding-right: 0;
    }
}

/* larger */

@media only screen and (min-width:1201px) and (max-width:1440px) {}